################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClothingStore/.vs/ClothingStore/FileContentIndex/b78b40f7-eb82-4f94-9240-8e5d4ba62b92.vsidx
